<html th:replace="base::layout(~{::section})">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>
	<section>
		<!--<div class="container-fluid" style="background-image: url(../img/aboutBanner.jpg); min-height: 400px; background-position: center; background-size: cover;"
		<img src="img/aboutBanner.jpg" class="d-block w-100" alt="...">
		<h4 style="color: black; text-align: center;">About Us</h4>-->
		
		<div class="row" style="background-image: url(../img/aboutBanner.jpg); background-position: center; background-size: cover; min-height: 200px;">
			<h1 style="color: white; text-align: center; padding-top: 90px;"><u>About Us</u></h1>
		</div> 
		
		<div class="row" style="height: 20px;"></div>
		
		<div class="row row-cols-1 row-cols-md-5 g-4" style="margin-left: 90px;margin-right: 90px;">
		  <div class="col">
		    <div class="card" style="border: 5px Solid skyblue;">
		      <img src="img/aminities.jpg" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title" style="text-align: center;">Aminities</h5>
		      </div>
		    </div>
		  </div>
		  <div class="col">
		  		    <div class="card" style="border: 5px Solid skyblue;">
		  		      <img src="img/authorities.jpg" class="card-img-top" alt="...">
		  		      <div class="card-body">
		  		        <h5 class="card-title" style="text-align: center;">Authorities</h5>
		  		      </div>
		  		    </div>
		  		  </div>
		  <div class="col">
		    <div class="card" style="border: 5px Solid skyblue;">
		      <img src="img/awards.jpg" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title" style="text-align: center;">Awards</h5>
		      </div>
		    </div>
		  </div>
		  <div class="col">
		    <div class="card" style="border: 5px Solid skyblue;">
		      <img src="img/centres.jpg" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title" style="text-align: center;">Cells / Units</h5>
		      </div>
		    </div>
		  </div>
		  <div class="col">
		    <div class="card" style="border: 5px Solid skyblue;">
		      <img src="img/centres.jpg" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title" style="text-align: center;">Centres & Institutes</h5>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div class="row" style="height: 20px;"></div>
		
		<div class="row row-cols-1 row-cols-md-5 g-4" style="margin-left: 90px;margin-right: 90px;">
				  <div class="col">
				    <div class="card" style="border: 5px Solid skyblue;">
				      <img src="img/chairs.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h5 class="card-title" style="text-align: center;">Chairs</h5>
				      </div>
				    </div>
				  </div>
				  <div class="col">
				  		    <div class="card" style="border: 5px Solid skyblue;">
				  		      <img src="img/collaboration.jpg" class="card-img-top" alt="...">
				  		      <div class="card-body">
				  		        <h5 class="card-title" style="text-align: center;">Collaboration</h5>
				  		      </div>
				  		    </div>
				  		  </div>
				  <div class="col">
				    <div class="card" style="border: 5px Solid skyblue;">
				      <img src="img/divisions.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h5 class="card-title" style="text-align: center;">Divisions</h5>
				      </div>
				    </div>
				  </div>
				  <div class="col">
				    <div class="card" style="border: 5px Solid skyblue;">
				      <img src="img/jobs.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h5 class="card-title" style="text-align: center;">Jobs / Trenders of IGNOU</h5>
				      </div>
				    </div>
				  </div>
				  <div class="col">
				    <div class="card" style="border: 5px Solid skyblue;">
				      <img src="img/profile.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h5 class="card-title" style="text-align: center;">Profile</h5>
				      </div>
				    </div>
				  </div>
				</div>
				
				<div class="row" style="height: 25px;"></div>
						
						<div class="row row-cols-1 row-cols-md-5 g-4" style="margin-left: 90px;margin-right: 90px;">
								  <div class="col">
								    <div class="card" style="border: 5px Solid skyblue;">
								      <img src="img/projects.jpg" class="card-img-top" alt="...">
								      <div class="card-body">
								        <h5 class="card-title" style="text-align: center;">Projects & Consultancy</h5>
								      </div>
								    </div>
								  </div>
								  <div class="col">
								  		    <div class="card" style="border: 5px Solid skyblue;">
								  		      <img src="img/recognitions.jpg" class="card-img-top" alt="...">
								  		      <div class="card-body">
								  		        <h5 class="card-title" style="text-align: center;">Recognitions</h5>
								  		      </div>
								  		    </div>
								  		  </div>
								  <div class="col">
								    <div class="card" style="border: 5px Solid skyblue;">
								      <img src="img/rc.jpg" class="card-img-top" alt="...">
								      <div class="card-body">
								        <h5 class="card-title" style="text-align: center;">Regional & Centres</h5>
								      </div>
								    </div>
								  </div>
								  <div class="col">
								    <div class="card" style="border: 5px Solid skyblue;">
								      <img src="img/research.jpg" class="card-img-top" alt="...">
								      <div class="card-body">
								        <h5 class="card-title" style="text-align: center;">Research & Publications</h5>
								      </div>
								    </div>
								  </div>
								  <div class="col">
								    <div class="card" style="border: 5px Solid skyblue;">
								      <img src="img/schools.jpg" class="card-img-top" alt="...">
								      <div class="card-body">
								        <h5 class="card-title" style="text-align: center;">Schools and Studies</h5>
								      </div>
								    </div>
								  </div>
								</div>
								
								<div class="row" style="height: 20px;"></div>
														
								<div class="row row-cols-1 row-cols-md-5 g-4" style="margin-left: 90px;margin-right: 90px;">
							    <div class="col">
								<div class="card" style="border: 5px Solid skyblue;">
								<img src="img/sc.jpg" class="card-img-top" alt="...">
									<div class="card-body">
										<h5 class="card-title" style="text-align: center;">Study Centres</h5>
									</div>
									</div>
						            </div>
								
					<div class="row" style="height: 25px;"></div>
				
		
	</section>
  </body>
</html>