<html th:replace="base::layout(~{::section})">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>
	<section>
		<div class="row" style="background-image: url(../img/emplBanner.jpg); background-position: center; background-size: cover; min-height: 200px;">
			<h1 style="color: white; text-align: center; padding-top: 90px;"><u>Employee Services</u></h1>
		</div> 
		<div class="row" style="height: 20px;"></div>
		
		<div class="row row-cols-1 row-cols-md-5 g-4" style="margin-left: 90px;margin-right: 90px;">
				  <div class="col">
				    <div class="card" style="border: 5px Solid skyblue;">
				      <img src="img/download.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h5 class="card-title" style="text-align: center;">Download</h5>
				      </div>
				    </div>
				  </div>
				  <div class="col">
				  		    <div class="card" style="border: 5px Solid skyblue;">
				  		      <img src="img/hospitals.jpg" class="card-img-top" alt="...">
				  		      <div class="card-body">
				  		        <h5 class="card-title" style="text-align: center;">Empanelled Hospitals</h5>
				  		      </div>
				  		    </div>
				  		  </div>
				  <div class="col">
				    <div class="card" style="border: 5px Solid skyblue;">
				      <img src="img/erp.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h5 class="card-title" style="text-align: center;">img/erp.jpg</h5>
				      </div>
				    </div>
				  </div>
				  <div class="col">
				    <div class="card" style="border: 5px Solid skyblue;">
				      <img src="img/credit.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h5 class="card-title" style="text-align: center;">IGNOU Thrift & Credit Society</h5>
				      </div>
				    </div>
				  </div>
				  <div class="col">
				    <div class="card" style="border: 5px Solid skyblue;">
				      <img src="img/welfare.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h5 class="card-title" style="text-align: center;">Welfare Measures</h5>
				      </div>
				    </div>
				  </div>
				</div>
				
				<div class="row" style="height: 20px;"></div>
				
				<div class="row row-cols-1 row-cols-md-5 g-4" style="margin-left: 90px;margin-right: 90px;">
						  <div class="col">
						    <div class="card" style="border: 5px Solid skyblue;">
						      <img src="img/house.jpg" class="card-img-top" alt="...">
						      <div class="card-body">
						        <h5 class="card-title" style="text-align: center;">Guest House</h5>
						      </div>
						    </div>
						  </div>
										  
	</section>
  </body>
</html>