<html th:replace="base::layout(~{::section})">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">-->
	
	
	
  </head>
  <body>
	<section>
    <div class="container-fluid" >
		<div class="row">
			<div class="col-sm-3 bg-info">
				<img src="img/oeBg.png" class="d-block mx-auto" alt="Centered Image" style="background-color: white; border: 5px solid yellow; border-radius: 50px; margin-top:15px;">
				<h4 style="color: white; text-align: center;">Online Education</h4><br>
				  <ul style="color: #fff; margin-left: 50px;">
					   <li>Online Programmes</li>
				       <li>SWAYAM Courses</li>
					   <li>Virtual Classes</li>
				</ul>
			</div>
			<div class="col-sm-3 bg-warning">
				<img src="img/bouBg.png" class="d-block mx-auto" alt="Centered Image" style="background-color: white; border: 5px solid yellow; border-radius: 50px; margin-top:15px;">
								<h4 style="color: white; text-align: center;">Browse our Programme</h4><br>
								  <ul style="color: #fff; margin-left: 50px;">
									   <li>Under Graduate</li>
								       <li>Post Graduate</li>
									   <li>Others</li>
									   <li>Doctorate (PHD)</li>
								</ul>
			
			</div>
			<div class="col-sm-3 bg-primary">
				<img src="img/admBg.png" class="d-block mx-auto" alt="Centered Image" style="background-color: white; border: 5px solid yellow; border-radius: 50px; margin-top:15px;">
								<h4 style="color: white; text-align: center;">Admission</h4><br>
								  <ul style="color: #fff; margin-left: 50px;">
									   <li>Apply for ODL Programme</li>
								       <li>Apply for Online Programme</li>
									   <li>Apply for foreign IOP</li>
									   <li>Apply for Ph.D. Programmes</li>
									   <li>Re-Registration</li>
								</ul>
				
			</div>
			<div class="col-sm-3 bg-danger">
				<img src="img/networkBg.png" class="d-block mx-auto" alt="Centered Image" style="background-color: white; border: 5px solid yellow; border-radius: 50px; margin-top:15px;">
								<h4 style="color: white; text-align: center;">Our Network</h4><br>
								  <ul style="color: #fff; margin-left: 50px;">
									   <li>Regional Centers</li>
								       <li>Learner Support Centers</li>
									   <li>Overseas Study Centres</li>
								</ul>
		
			</div>

<!-- Marquee Section -->
<div class="row bg-light py-2">
	<div class="col-md-2"></div>
	<div class="col-md-8">
   <!-- <div class="col-12 text-center">-->
        <div class="text-danger overflow-hidden">
            <marquee scrollamount="10" onmouseover="this.stop()" onmouseout="this.start()">
                <h3 class="mb-0">This is Beta Website, Contents of the Website is being Updated....</h6>
            </marquee>
        </div>
		<div class="col-md-2"></div>
    </div>
</div>

<!-- Welcome Section -->
<div class="row bg-light align-items-center py-4">
    <!-- Image -->
    <div class="col-12 col-md-4 text-center mb-3 mb-md-0">
        <img src="img/vc.png" alt="Centered Image" class="img-fluid">
    </div>

    <!-- Text Content -->
    <div class="col-12 col-md-8 px-4">
        <h2 class="text-primary">Welcome to<br>Indira Gandhi National Open University</h2>
        <p>
            Welcome to Indira Gandhi National Open University (IGNOU), a premier institution established by an Act of Parliament in 1985 with the mission to democratize education in India and beyond. Empowered by the IGNOU Act, the University holds a unique mandate to provide inclusive and equitable access to higher education across the nation and through its overseas learner support centres, reflecting its expansive jurisdiction and global vision.
        </p>
        <p class="text-primary fw-bold">
            Prof. Uma Kanjilal<br>
            Vice Chancellor (Acting), IGNOU
        </p>
    </div>
</div>


  <div class="row bg-warning py-4">
    <!-- Left Spacer (optional on large screens) -->
    <div class="col-lg-1 d-none d-lg-block"></div>

    <!-- Image Section -->
    <div class="col-12 col-md-6 col-lg-5 mb-4 mb-md-0 text-center">
        <img src="img/ignouPic.jpg" alt="" class="img-fluid" style="border: 5px solid black;">
    </div>

    <!-- Text & Stats Section -->
    <div class="col-12 col-md-6 col-lg-5 px-4">
        <h3 class="mt-3">What Makes IGNOU Unique?</h3>
        <p>
            Grooming leaders who are not only thorough professionals but also good human beings with values.
        </p>
        
        <div class="row text-center">
            <!-- Column 1 -->
            <div class="col-12 col-sm-4 mb-3">
                <h1>333</h1>
                <h6 class="mb-1">Programmes on Offer</h6>
                <h1>57</h1>
                <h6 class="mb-1">Regional Centres</h6>
                <h1>268</h1>
                <h6 class="mb-1">MOOC Courses</h6>
            </div>

            <!-- Column 2 -->
            <div class="col-12 col-sm-4 mb-3">
                <h1>21</h1>
                <h6 class="mb-1">School of Studies</h6>
                <h1>2257</h1>
                <h6 class="mb-1">Learning Support Centres</h6>
                <h1>6</h1>
                <h6 class="mb-1">DTH Channels</h6>
            </div>

            <!-- Column 3 -->
            <div class="col-12 col-sm-4 mb-3">
                <h1>3,093,583</h1>
                <h6 class="mb-1">Students Enrolled</h6>
                <h1>25</h1>
                <h6 class="mb-1">Overseas Centres</h6>
                <h1>4,603,173</h1>
                <h6 class="mb-1">Certificates Awarded</h6>
            </div>
        </div>
    </div>

    <!-- Right Spacer (optional on large screens) -->
    <div class="col-lg-1 d-none d-lg-block"></div>
  </div>

		<!--Schools of studies-->
			<div class="container my-4" data-aos="fade-up-left">
				<h4 class="mb-4" style="margin-left: 15px;">SCHOOLS OF <span style="color: black;">STUDIES</span></h4>
				
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4" data-aos="fade-down-left">
					<!-- Card 1 -->
					<div class="col" data-aos="fade-up-left">
						<div class="card h-100 border-4 border-info" style="background-color: blueviolet;">
							<img src="img/soa.jpg" class="card-img-top" alt="School of Agriculture">
							<div class="card-body text-center">
								<h5 class="card-title text-white">School of Agriculture (SOA)</h5>
							</div>
						</div>
					</div>
			
					<!-- Card 2 -->
					<div class="col">
						<div class="card h-100 border-4 border-info" style="background-color: blueviolet;">
							<img src="img/soce.jpg" class="card-img-top" alt="School of Continuing Education">
							<div class="card-body text-center">
								<h5 class="card-title text-white">School of Continuing Education (SOCE)</h5>
							</div>
						</div>
					</div>
			
					<!-- Card 3 -->
					<div class="col">
						<div class="card h-100 border-4 border-info" style="background-color: blueviolet;">
							<img src="img/socis.jpg" class="card-img-top" alt="School of Computer and Information Sciences">
							<div class="card-body text-center">
								<h5 class="card-title text-white">School of Computer & Info Sciences (SOCIS)</h5>
							</div>
						</div>
					</div>
			
					<!-- Card 4 -->
					<div class="col">
						<div class="card h-100 border-4 border-info" style="background-color: blueviolet;">
							<img src="img/soe.jpg" class="card-img-top" alt="School of Education">
							<div class="card-body text-center">
								<h5 class="card-title text-white">School of Education (SOE)</h5>
							</div>
						</div>
					</div>
			
					<!-- Card 5 -->
					<div class="col">
						<div class="card h-100 border-4 border-info" style="background-color: blueviolet;">
							<img src="img/soet.jpg" class="card-img-top" alt="School of Engineering & Technology">
							<div class="card-body text-center">
								<h5 class="card-title text-white">School of Engineering & Technology (SOET)</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
							
							
			<div class="row" style="height: 20px;"></div>
							
		 <!--New Programs launched-->
		 <div class="container my-5" data-aos="fade-up">
			<h4 class="mb-4" style="color: black; margin-left: 15px;">NEW PROGRAMMES <span>LAUNCHED</span></h4>
		  
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4" data-aos="fade-up-right">
			  <!-- Card 1 -->
			  <div class="col">
				<div class="card h-100 border-4 border-info" style="background-color: blueviolet;">
				  <img src="img/bca_new.jpg" class="card-img-top" alt="BCA ODL">
				  <div class="card-body text-center">
					<h5 class="card-title text-white">Bachelor of Computer Science (ODL)</h5>
				  </div>
				</div>
			  </div>
		  
			  <!-- Card 2 -->
			  <div class="col">
				<div class="card h-100 border-4 border-info" style="background-color: blueviolet;">
				  <img src="img/mca_new.jpg" class="card-img-top" alt="MCA ODL">
				  <div class="card-body text-center">
					<h5 class="card-title text-white">Master of Computer Application (ODL)</h5>
				  </div>
				</div>
			  </div>
		  
			  <!-- Card 3 -->
			  <div class="col">
				<div class="card h-100 border-4 border-info" style="background-color: blueviolet;">
				  <img src="img/pgdca_new.jpg" class="card-img-top" alt="PGDCA ODL">
				  <div class="card-body text-center">
					<h5 class="card-title text-white">PG Diploma in Computer Application (ODL)</h5>
				  </div>
				</div>
			  </div>
		  
			  <!-- Card 4 -->
			  <div class="col">
				<div class="card h-100 border-4 border-info" style="background-color: blueviolet;">
				  <img src="img/pgdtrbs.jpg" class="card-img-top" alt="PGD in Tribal Studies">
				  <div class="card-body text-center">
					<h5 class="card-title text-white">PG Diploma in Tribal Studies (ODL)</h5>
				  </div>
				</div>
			  </div>
		  
			  <!-- Card 5 -->
			  <div class="col">
				<div class="card h-100 border-4 border-info" style="background-color: blueviolet;">
				  <img src="img/pgddrrm.jpg" class="card-img-top" alt="PGD in Disaster Mgmt">
				  <div class="card-body text-center">
					<h5 class="card-title text-white">PG Diploma in Disaster Risk Reduction & Mgmt (ODL)</h5>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  	
		<div class="row" style="height: 20px;"></div>	
				

	    <!--Student Services-->

		<div class="container-fluid bg-dark py-5">
			<h4 class="text-white mb-4" style="margin-left: 15px;" data-aos="flip-left">Student <span>Services</span></h4>
		  
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4 px-3"  data-aos="flip-up">
			  <!-- Card 1 -->
			  <div class="col">
				<div class="card h-100 border-4 border-info" style="background-color: blueviolet; border-radius: 30px;">
				  <img src="img/bca_new.jpg" class="card-img-top" alt="BCA ODL">
				  <div class="card-body text-center">
					<h5 class="card-title text-white">Bachelor of Computer Science (ODL)</h5>
				  </div>
				</div>
			  </div>
		  
			  <!-- Card 2 -->
			  <div class="col">
				<div class="card h-100 border-4 border-info" style="background-color: blueviolet; border-radius: 30px;">
				  <img src="img/mca_new.jpg" class="card-img-top" alt="MCA ODL">
				  <div class="card-body text-center">
					<h5 class="card-title text-white">Master of Computer Application (ODL)</h5>
				  </div>
				</div>
			  </div>
		  
			  <!-- Card 3 -->
			  <div class="col">
				<div class="card h-100 border-4 border-info" style="background-color: blueviolet; border-radius: 30px;">
				  <img src="img/pgdca_new.jpg" class="card-img-top" alt="PGDCA ODL">
				  <div class="card-body text-center">
					<h5 class="card-title text-white">PG Diploma in Computer Application (ODL)</h5>
				  </div>
				</div>
			  </div>
		  
			  <!-- Card 4 -->
			  <div class="col">
				<div class="card h-100 border-4 border-info" style="background-color: blueviolet; border-radius: 30px;">
				  <img src="img/pgdtrbs.jpg" class="card-img-top" alt="PGD Tribal Studies">
				  <div class="card-body text-center">
					<h5 class="card-title text-white">PG Diploma in Tribal Studies (ODL)</h5>
				  </div>
				</div>
			  </div>
		  
			  <!-- Card 5 -->
			  <div class="col">
				<div class="card h-100 border-4 border-info" style="background-color: blueviolet; border-radius: 30px;">
				  <img src="img/pgddrrm.jpg" class="card-img-top" alt="PGD Disaster Mgmt">
				  <div class="card-body text-center">
					<h5 class="card-title text-white">PG Diploma in Disaster Risk Reduction & Management (ODL)</h5>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  															
		<!--Testimonials-->				

			<div class="row">
				<h4 style="color: black; margin-left: 250px; margin-top: 20px;"><b>TESTIMONIALS</b></h4>
						<div class="col9" style="height: 300px; margin-top: 30px;">
							<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
								<div class="carousel-indicators">
														<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
													    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
														<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
														<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
														<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
														<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
														<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
														<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
														<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
													</div>
													<div class="carousel-inner">						
													<div class="carousel-item active">
													<div class="slider" style="height: 300px; width: 1200px;  float: left;background-color: white;margin-left: 80px; ">
													<img src="img/testil1.jpg" class="d-block" alt="..." style="height: 160px; width: 150px; float: left; margin-right: 30px">
													<h5 style="margin-top: 30px;"><p><i class="fa-solid fa-quote-left"></i>
													                                                        The desire of study does not fade away with age. Neither does it when an
													                                                        individual does not know the proper pathway to be involved in. Most of
													                                                        us after
													                                                        completion of high school or Bachelor’s degree want to get involved in
													                                                        jobs and have certain years of experience, and as well study further at
													                                                        the same
													                                                        time. When this situation occurs, we are in dilemma as whether to study
													                                                        or to work. However, this kind of dilemma can now be solved by choosing
													                                                        the best of
													                                                        option by enrolling into ICA. ICA is the institution where one can work
													                                                        and study simultan eously and is very suitable for the job
													                                                        holder/working
													                                                        professional like me.
													                                                        <i class="fa-solid fa-quote-right"></i>
													                                                    </p></h5>
													<h5 style="margin-left: 100px;"><b> Suman Chalise </b> <br> MBA, (Huawei Technology Nepal)</h5>
													</div>
													</div>
													<div class="carousel-item">
													<div class="slider" style="height: 300px; width: 1200px; float: left; background-color: white; margin-left: 80px;">
													<img src="img/test2.png" class="d-block" alt="..." style="height: 160px; width: 150px; float: left; margin-right: 30px">
													<h5 style="margin-top: 30px;"><p><i class="bi bi-quote quote-icon-left"></i>
													                                                        Exceptional Learning Experience at IGNOU at ICA Study Center: A Top
													                                                        Choice for degrees through the Open Distance Learning mode.
													                                                        I recently had the privilege of completing my bachelor’s degree in the
													                                                        tourism at the ICA Study Center, and I cannot emphasize enough the
													                                                        positive impact
													                                                        this institution had on my educational journey. From the moment I
													                                                        enrolled, I was met with a level of excellence that surpassed my
													                                                        expectations, and I
													                                                        wholeheartedly recommend ICA Study Center to anyone considering pursuing
													                                                        a degree through the Open Distance Learning mode.
													                                                        <i class="bi bi-quote quote-icon-right"></i>
													                                                    </p></h5>
													<h5 style="margin-left: 100px;"><b> Ramchandra Basnet</b> <br> Tourism Studies (BTS), 2018</h5>
													</div>
													</div>
													<div class="carousel-item">
													<div class="slider" style="height: 300px; width: 1200px; float: left;background-color: white;margin-left: 80px; ">
													<img src="img/test3.png" class="d-block" alt="..." style="height: 160px; width: 150px;float: left; margin-right: 30px">
													<h5 style="margin-top: 30px;"><p><i class="bi bi-quote quote-icon-left"></i>
													                                                        ICA, Overseas Study Centre of IGNOU was a great avenue for me to
													                                                        rekindle my educational journey at my own time and pace, with flexible
													                                                        learning
													                                                        environment, and highly experienced faculty. Absolutely an honour to
													                                                        belong to this fraternity.
													                                                        <i class="bi bi-quote quote-icon-right"></i>
													                                                    </p></h5>
													<h5 style="margin-left: 100px;"><b> Sweta Rajgharai</b> <br> Card Reader</h5>
													</div>
													</div>
													<div class="carousel-item">
													<div class="slider" style="height: 300px; width: 1200px; float: left; background-color: white; margin-left: 80px;">
													<img src="img/test4.png" class="d-block" alt="..." style="height: 160px; width: 150px; float: left; margin-right: 30px">
													<h5 style="margin-top: 30px;"><p><i class="bi bi-quote quote-icon-left"></i>
													                                                        In today’s competitive market having a bachelor’s degree is as crucial
													                                                        as having a work experience. At ICA, I have had the chance to both study
													                                                        and work
													                                                        which has made me competitive student and an employee. At first, I was
													                                                        worried how do I manage my studies and a full time job but then the
													                                                        frequent
													                                                        important date reminders given by ICA and the counseling session given
													                                                        by my program coordinator made my life much easier.
													                                                        <i class="bi bi-quote quote-icon-right"></i>
													                                                    </p></h5>
													<h5 style="margin-left: 200px;"><b> Rushma Khari Subedi </b> <br> BA</h5>
													</div>
													</div>
													<div class="carousel-item">
													<div class="slider" style="height: 300px; width: 1200px; float: left;background-color: white;margin-left: 80px; ">
													<img src="img/test5.png" class="d-block" alt="..." style="height: 160px; width: 150px;float: left; margin-right: 30px">
													<h5 style="margin-top: 30px;"><p><i class="bi bi-quote quote-icon-left"></i>
													                                                       It gives me an immense pleasure to say with pride that I am doing MTTM
													                                                       from International ICA. It is one of the pioneer Institution of Open and
													                                                       Distance
													                                                       Learning which is approved by the Ministry of Education, Government of
													                                                       Nepal. I enjoy a lot while studying in ICA as Teachers are highly
													                                                       qualified
													                                                       approachable, and very helpful. Every class is fun, and interactive. I
													                                                       would say it’s a high-quality place to study in. Learning at ICA has
													                                                       been incredibly
													                                                       valuable experience and enjoyable. I am very grateful to be a apart of
													                                                       ICA.
													                                                       <i class="bi bi-quote quote-icon-right"></i>
													                                                   </p></h5>
													<h5 style="margin-left: 100px;"><b> Dilli Ram Sharma </b><br> MTTM, (Embassy of Sri Lanka)</h5>
													</div>
													</div>
													<div class="carousel-item">
													<div class="slider" style="height: 300px; width: 1200px; float: left;background-color: white;margin-left: 80px; ">
											        <img src="img/test6.png" class="d-block" alt="..." style="height: 160px; width: 150px;float: left; margin-right: 30px">
													<h5 style="margin-top: 30px;"><p><i class="bi bi-quote quote-icon-left"></i>
													                                                       Attending IGNOU has been an incredibly rewarding experience for me. The
													                                                       flexibility of the distance learning format has allowed me to balance my
													                                                       studies
													                                                       with my other commitments, while the qualities of the course materials
													                                                       and the support from the faculty have been excellent. I have been able
													                                                       to develop a
													                                                       deep understanding of the subject matter and acquire valuable knowledge
													                                                       and skills that I can apply in my personal and professional life.
													                                                       One of the greatest advantages of IGNOU's program is the opportunity to
													                                                       learn at my own pace and on my own schedule. This has been particularly
													                                                       important
													                                                       for me, as I have been able to continue my education while working
													                                                       full-time and fulfilling other responsibilities. The online resources
													                                                       and the option to
													                                                       attend virtual classes have also been extremely helpful in keeping me
													                                                       engaged and motivated throughout my studies.
													                                                       <i class="bi bi-quote quote-icon-right"></i>
													                                                   </p></h5>
													<h5 style="margin-left: 100px;"><b> Gebre Terefe Wojija</b> <br> Sociology, (M.A) </h5>
													</div>
													</div>
													<div class="carousel-item">
													<div class="slider" style="height: 300px; width: 1200px; float: left;background-color: white;margin-left: 80px; ">
													<img src="img/test7.png" class="d-block" alt="..." style="height: 160px; width: 150px;float: left; margin-right: 30px">
													<h5 style="margin-top: 30px;"><p><i class="bi bi-quote quote-icon-left"></i>
													                                                        Age is just a number, and thanks to the Indian Academy's collaboration
													                                                        with IGNOU, I have been able to prove this adage true. For years, I
													                                                        dreamed of
													                                                        earning a Bachelor of Computer Application but felt constrained by the
													                                                        belief that my age might be a barrier. However, the Indian Academy
													                                                        opened doors I
													                                                        once thought were closed, allowing me to not only pursue my
													                                                        undergraduate degree but also continue my higher studies on the same
													                                                        campus.
													                                                        <i class="bi bi-quote quote-icon-right"></i>
													                                                    </p></h5>
													<h5 style="margin-left: 100px;"><b> Raja Manickam</b> <br> Bachelor of Computer Application</h5>
													</div>
													</div>
													<div class="carousel-item">
													<div class="slider" style="height: 300px; width: 1200px; float: left;background-color: white;margin-left: 80px; ">
													<img src="img/test8.png" class="d-block" alt="..." style="height: 160px; width: 150px;float: left; margin-right: 30px">
													<h5 style="margin-top: 30px;"><p><i class="bi bi-quote quote-icon-left"></i>
													                                                       As an Ethiopian student pursuing my Master's in Social Work (MSW)
													                                                       through IGNOU's innovative distance learning program, I have acquired
													                                                       invaluable knowledge
													                                                       and skills necessary for a fulfilling social work career. The program's
													                                                       structure, with its strategic blend of coursework and practical
													                                                       fieldwork, provided
													                                                       a unique advantage. By integrating concurrent visits with real-world
													                                                       fieldwork, IGNOU offered a glimpse into the inner workings of Ethiopian
													                                                       Civil Society
													                                                       Organizations (CSOs). Witnessing firsthand the impactful role social
													                                                       workers play in transforming communities solidified my passion for this
													                                                       field.
													                                                       <i class="bi bi-quote quote-icon-right"></i>
													                                                   </p></h5>
													<h5 style="margin-left: 100px;"><b> Tigist Zerihun Semegn</b> <br> Master's in Social Work</h5>
													</div>
													</div>
													<div class="carousel-item">
													<div class="slider" style="height: 300px; width: 1200px; float: left;background-color: white;margin-left: 80px; ">
											        <img src="img/test9.png" class="d-block" alt="..." style="height: 160px; width: 150px;float: left; margin-right: 30px">
													<h5 style="margin-top: 30px;"><p><i class="bi bi-quote quote-icon-left"></i>
													                                                        My name is Metsnanat Sahle Tilahun, and I recently completed my Master's
													                                                        Degree in Social Work from IGNOU. My learning experience at IGNOU was
													                                                        both
													                                                        challenging and rewarding.The journey was exciting, albeit not easy, as
													                                                        I had to balance my responsibilities and manage my time effectively.
													                                                        However, with
													                                                        persistence, I eventually mastered these challenges.
													                                                        <i class="bi bi-quote quote-icon-right"></i>
													                                                    </p></h5>
													<h5 style="margin-left: 200px;"><b> Metsnanat Sahle Tilahun </b><br> Master's in Social Work </h5>
													</div>
												    </div>
													</div>
													<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
													  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
													  <span class="visually-hidden">Previous</span>
													</button>
													<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
													   <span class="carousel-control-next-icon" aria-hidden="true"></span>
													   <span class="visually-hidden">Next</span>
													</button>
													</div>
													</div>
										</div> 
			
			
		</div>
	</div>
	

	 
	</section>
  </body>
</html>