<html th:replace="base::layout(~{::section})">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
	<section>
		<div class="row" style="background-image: url(../img/mediaB.jpg); background-position: center; background-size: cover; min-height: 200px;">
				     <h1 style="color: white; text-align: center; padding-top: 90px;"><u>Media</u></h1>
				</div> 
				<div class="row" style="height: 20px;"></div>
						
						
						<div class="row row-cols-1 row-cols-md-5 g-4" style="margin-left: 90px;margin-right: 90px;">
						  <div class="col">
						    <div class="card" style="border: 5px Solid skyblue;">
						      <img src="img/diginews.jpg" class="card-img-top" alt="...">
						      <div class="card-body">
						        <h5 class="card-title" style="text-align: center;">Digi News</h5>
						      </div>
						    </div>
						  </div>
						  <div class="col">
						  		    <div class="card" style="border: 5px Solid skyblue;">
						  		      <img src="img/pressrelease.jpg" class="card-img-top" alt="...">
						  		      <div class="card-body">
						  		        <h5 class="card-title" style="text-align: center;">Media Coverage</h5>
						  		      </div>
						  		    </div>
						  		  </div>
						  <div class="col">
						    <div class="card" style="border: 5px Solid skyblue;">
						      <img src="img/photogallery.jpg" class="card-img-top" alt="...">
						      <div class="card-body">
						        <h5 class="card-title" style="text-align: center;">Photo Gallery</h5>
						      </div>
						    </div>
						  </div>
						  <div class="col">
						    <div class="card" style="border: 5px Solid skyblue;">
						      <img src="img/welfare.jpg" class="card-img-top" alt="...">
						      <div class="card-body">
						        <h5 class="card-title" style="text-align: center;">Press Releases</h5>
						      </div>
						    </div>
						  </div>
	</section>
  </body>
</html>