<html th:replace="base::layout(~{::section})">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>
	<section>
		<div class="row" style="background-image: url(../img/studentBanner.jpg); background-position: center; background-size: cover; min-height: 200px;">
		     <h1 style="color: white; text-align: center; padding-top: 90px;"><u>Student Services</u></h1>
		</div> 
		<div class="row" style="height: 20px;"></div>
		
				
				
				<div class="row row-cols-1 row-cols-md-5 g-4" style="margin-left: 90px;margin-right: 90px;">
				  <div class="col">
				    <div class="card" style="border: 5px Solid skyblue;">
				      <img src="img/programmes.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h5 class="card-title" style="text-align: center;">Programmes</h5>
				      </div>
				    </div>
				  </div>
				  <div class="col">
				  		    <div class="card" style="border: 5px Solid skyblue;">
				  		      <img src="img/admissions.jpg" class="card-img-top" alt="...">
				  		      <div class="card-body">
				  		        <h5 class="card-title" style="text-align: center;">Admissions</h5>
				  		      </div>
				  		    </div>
				  		  </div>
				  <div class="col">
				    <div class="card" style="border: 5px Solid skyblue;">
				      <img src="img/aCalender.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h5 class="card-title" style="text-align: center;">Academic Calender</h5>
				      </div>
				    </div>
				  </div>
				  <div class="col">
				    <div class="card" style="border: 5px Solid skyblue;">
				      <img src="img/payment.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h5 class="card-title" style="text-align: center;">Payments</h5>
				      </div>
				    </div>
				  </div>
				  <div class="col">
				    <div class="card" style="border: 5px Solid skyblue;">
				      <img src="img/slm.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h5 class="card-title" style="text-align: center;">e-Resources for Self Learning</h5>
				      </div>
				    </div>
				  </div>
				</div>
				
				<div class="row" style="height: 20px;"></div>
				
				<div class="row row-cols-1 row-cols-md-5 g-4" style="margin-left: 90px;margin-right: 90px;">
						  <div class="col">
						    <div class="card" style="border: 5px Solid skyblue;">
						      <img src="img/download.jpg" class="card-img-top" alt="...">
						      <div class="card-body">
						        <h5 class="card-title" style="text-align: center;">Downloads</h5>
						      </div>
						    </div>
						  </div>
						  <div class="col">
						  		    <div class="card" style="border: 5px Solid skyblue;">
						  		      <img src="img/aCounselling.jpg" class="card-img-top" alt="...">
						  		      <div class="card-body">
						  		        <h5 class="card-title" style="text-align: center;">Academic Counselling</h5>
						  		      </div>
						  		    </div>
						  		  </div>
						  <div class="col">
						    <div class="card" style="border: 5px Solid skyblue;">
						      <img src="img/swayam.jpg" class="card-img-top" alt="...">
						      <div class="card-body">
						        <h5 class="card-title" style="text-align: center;">Swayam</h5>
						      </div>
						    </div>
						  </div>
						  <div class="col">
						    <div class="card" style="border: 5px Solid skyblue;">
						      <img src="img/sp.jpg" class="card-img-top" alt="...">
						      <div class="card-body">
						        <h5 class="card-title" style="text-align: center;">Swayam Prabha Channels</h5>
						      </div>
						    </div>
						  </div>
						  <div class="col">
						    <div class="card" style="border: 5px Solid skyblue;">
						      <img src="img/weas.jpg" class="card-img-top" alt="...">
						      <div class="card-body">
						        <h5 class="card-title" style="text-align: center;">Web Enabled Academic Support</h5>
						      </div>
						    </div>
						  </div>
						</div>
						
						<div class="row" style="height: 25px;"></div>
								
								<div class="row row-cols-1 row-cols-md-5 g-4" style="margin-left: 90px;margin-right: 90px;">
										  <div class="col">
										    <div class="card" style="border: 5px Solid skyblue;">
										      <img src="img/library.jpg" class="card-img-top" alt="...">
										      <div class="card-body">
										        <h5 class="card-title" style="text-align: center;">Library</h5>
										      </div>
										    </div>
										  </div>
										  <div class="col">
										  		    <div class="card" style="border: 5px Solid skyblue;">
										  		      <img src="img/exam.jpg" class="card-img-top" alt="...">
										  		      <div class="card-body">
										  		        <h5 class="card-title" style="text-align: center;">Examination</h5>
										  		      </div>
										  		    </div>
										  		  </div>
										  <div class="col">
										    <div class="card" style="border: 5px Solid skyblue;">
										      <img src="img/results.jpg" class="card-img-top" alt="...">
										      <div class="card-body">
										        <h5 class="card-title" style="text-align: center;">Results</h5>
										      </div>
										    </div>
										  </div>
										  <div class="col">
										    <div class="card" style="border: 5px Solid skyblue;">
										      <img src="img/igram.jpg" class="card-img-top" alt="...">
										      <div class="card-body">
										        <h5 class="card-title" style="text-align: center;">Student Grievances(iGRAM)</h5>
										      </div>
										    </div>
										  </div>
										  <div class="col">
										    <div class="card" style="border: 5px Solid skyblue;">
										      <img src="img/convocation.jpg" class="card-img-top" alt="...">
										      <div class="card-body">
										        <h5 class="card-title" style="text-align: center;">Convocation</h5>
										      </div>
										    </div>
										  </div>
										</div>
										
										<div class="row" style="height: 20px;"></div>
																
										<div class="row row-cols-1 row-cols-md-5 g-4" style="margin-left: 90px;margin-right: 90px;">
									    <div class="col">
										<div class="card" style="border: 5px Solid skyblue;">
										<img src="img/alumni.jpg" class="card-img-top" alt="...">
											<div class="card-body">
												<h5 class="card-title" style="text-align: center;">Alumini Portal</h5>
											</div>
											</div>
								            </div>
											<div class="col">
								            <div class="card" style="border: 5px Solid skyblue;">
											<img src="img/faq.jpg" class="card-img-top" alt="...">
											<div class="card-body">
												<h5 class="card-title" style="text-align: center;">Frequently Asked Questions(FAQs)</h5>
											</div>
											</div>
											</div>
											<div class="col">
											<div class="card" style="border: 5px Solid skyblue;">
											<img src="img/status.jpg" class="card-img-top" alt="...">
											<div class="card-body">
												<h5 class="card-title" style="text-align: center;">Know Your Status</h5>
											</div>
											</div>
											</div>
										   <div class="col">
										   <div class="card" style="border: 5px Solid skyblue;">
										   <img src="img/innovations.jpg" class="card-img-top" alt="...">
											<div class="card-body">
												<h5 class="card-title" style="text-align: center;">Innovations & Patents</h5>
											</div>
											</div>
											</div>
							<div class="row" style="height: 25px;"></div>
						
				
	</section>
  </body>
</html>